<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClubSunriseCoast.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D661B15025FD9C6B00ED4D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D661B16625FD9C6D00ED4D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D661B17125FD9C6D00ED4D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
